html {
  box-sizing: border-box;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

@font-face {
  font-family: "Pixel";
  src: url("./assets/font/Pixel-LCD-7.woff") format("woff");
}